/* General */

iframe {
  border: none;
  padding-top:15px;

}

.sideNavOpen {
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  width: 40%;
  -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: white;
}

.sideNavClosed {
  position: fixed;
  top: 0;
  right: 0;
  width:0%;
  overflow: auto;
  -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: white;
}

.sideNav {
  position: relative !important;
  right: 0% !important;
  padding-left: 25px !important;
  font-family: 'Bree Serif', serif;
  font-size: 22px;
}

.Tappable-inactive div {
  padding: 8px 0;
  min-width: 600px;
}

.Tappable-active div {
  padding: 8px 0;
  min-width: 600px;
}

.selected {
  text-decoration: line-through;
}

.close-nav {
  position: absolute;
  top: 1%;
  right: 2%;
  z-index: 6;
  margin-top: 10px;
}

.close-nav:hover {
  cursor: pointer;
}

.open-nav {
  position: absolute;
  top: 1%;
  right: 4%;
  z-index: 5;
  margin-top: 10px;
}

.open-nav:hover {
  cursor: pointer;
}

.visible {
  opacity: 1;
  -moz-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.invisible {
  opacity: 0;
  -moz-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-contents-container {
  opacity: 1;
  height:100vh;
  -moz-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contents-closed {
  opacity: 0;
  -moz-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}



section {
  height: 100vh;
}

.text-link {
  color: #ff574f;
  text-decoration: none;
}

.text-link:hover {
  color: grey;
  text-decoration: none;
}

p, .btn a {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
}

h3, h4 {
  font-family: 'Bree Serif', serif;
}

.btn:hover {
  background-color: white !important;
}

.btn {
  background-color: #ff2fcb !important;
  transition: .5s ease;
}

.other {
  background-color: #302729 !important;
  transition: .5s ease;
}

.btn a {
  color: white !important;
  transition: .5s ease;
}

.btn:hover a {
  color: #ff2fcb !important;
  text-decoration: none;
}

.btn a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #ff2fcb  !important;
  transition: .5s ease;
}


.page-wrapper {
  padding: 0 !important;
}

.topnav-items {
  padding: 20px;
}

.topNav {
  padding-top: 20px !important;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: white;
}

#njd_logo {
  position: absolute;
  top: 0;
  left: 0;
}

.fa-list {
  padding-top: 15px !important;
}

.fa-list:hover {
  color: white !important;
}

/* About Me Section */

.about-me {
  padding-top: 60px;
  padding-left: 65px !important;
}

.main-icons {
  padding-top: 70px;
}


.icon-link-text {

}

.fa-long-arrow-right {
  font-size: 25px !important;
  color: #ff2fcb !important;
}

.main-icon {
  margin: 30px;
}


.about-me h1 {
  font-size: 55px;
  font-family: 'Bree Serif', serif;
}

.about-me h3 {
  font-family: 'Bree Serif', serif;
}

.about-me img {
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.about-me-text {
  margin: auto;
  display: block;
  float: none !important;
  font-size: 18px;
  margin-left: 15px;
  font-family: 'Bree Serif', serif;
}

.skills {
  width: 100px;
  position: absolute;
}

#ruby {
  top: 40px;
  left: 10px;
  /*-webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: .5s;
  -ms-animation-duration: 1s;
  -ms-animation-delay: .5s;*/
  animation-duration: 1.5s;
  animation-delay: .5s;
}


#html {
  top: 350px;
  left: 175px;
  animation-duration: 1.5s;
  animation-delay: .6s;
}

#css {
  top: 160px;
  left: 300px;
  animation-duration: 1.8s;
  animation-delay: 1s;
}

#javascript {
  top: 60px;
  right: 200px;
  animation-duration: 1.5s;
  animation-delay: .9s;
}

#photoshop {
  bottom: 30px;
  left: 10px;
  animation-duration: 1.0s;
  animation-delay: 1.1s;
}

#illustrator {
  top: 260px;
  right: 160px;
  animation-duration: 1.5s;
  animation-delay: 1.3s;
}

#aftereffects {
  top: 30px;
  right: 20px;
  animation-duration: 2s;
  animation-delay: 1.2s;
}

#premiere {
  bottom: 0px;
  left: 270px;
  animation-duration: 1.0s;
  animation-delay: 1.0s;
}

#indesign {
  bottom: 5px;
  right: 30px;
  animation-duration: 1.5s;
  animation-delay: 1.4s;
}

#react {
  bottom: 70px;
  right: 200px;
  animation-duration: 1.5s;
  animation-delay: .8s;
}

#postgres {
  top: 200px;
  left: 110px;
  animation-duration: 1.5s;
  animation-delay: .7s;
}

/* Web Section */

.laptops {
  max-width: 750px;
  margin-left: 50px;
}

li {
  list-style-type: none;
  margin: 20px;
  text-align: center;
}

.website {
  padding-top: 120px;
  /*color: #bbbbbb;*/
}

.website-list-item {
  margin: 30px;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.website-list-item:hover {
  cursor:pointer;
  color: white;
}

.website-list {
  margin: 50px 0;
  text-align: center;
}



.description {
  font-size: 14px;
  margin: 10px;
}

.description h1 {
  font-family: 'Bree Serif', serif;
}

.text-white {
  color: white;
}

/* Video */

.video {
  padding-top: 100px;
  /*text-align: center;*/
}

.video-list-item {
  /*text-align: center;*/
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.video-list-item:hover {
  color: white;
  cursor: pointer;
}

.television {
  background-image: url("https://dl.dropboxusercontent.com/u/80500150/tv-850191_960_720.png");
  background-size: contain;
  background-repeat: no-repeat;
  height:480px;
  margin-left: 60px;
}

.video .btn {
  display: block;
  margin-left: 50px !important;
}

.video ul {
  margin-left: 40px;
}

.video-text {
  width: 80%;
  display: block;
  margin: auto !important;
  text-align: center;
}

.select-a-video {
  text-align: center;
  color: white;
  padding-top: 100px;
  font-family: 'Karla', sans-serif;
}

/*Design */

.coming-soon {
  margin-top: 300px;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

/* Contact */

.contact-details {
  text-align: center;
  margin: auto;
  margin-top: 300px;
  color: white;
  font-family: 'Inconsolata', monospace;
}

.contact-details p {
  font-size: 20px !important;
  font-family: 'Inconsolata', monospace;
}

/* financial advice */

.movie-box {
  height: 300px;
}

/*All*/

.movie-box img {
  max-height: 350px;
}

.fa-tag {
  padding-right: 10px !important;
  font-size: 20px !important;
  color: #ff5656 !important;
}

.stack-half {
  display: inline-block;
  margin-right: 25px;
}
