/* General */

iframe {
  border: none;
}

a {
   color: #f74481 !important;
   text-decoration: none !important;
}


.sideNavOpen {
  position: fixed;
  top: 0;
  right: 0;
  overflow: auto;
  width: 30%;
  -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: #5d4d4d;
}

.sideNavClosed {
  position: fixed;
  top: 0;
  right: 0;
  width:0%;
  overflow: auto;
  -moz-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: width 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  background: white;
}

.sideNav {
  position: relative !important;
  right: 0% !important;
  padding-left: 25px !important;
  font-family: 'Bree Serif', serif;
  font-size: 22px;
  color: white;
}

.Tappable-inactive div {
  padding: 8px 0;
  min-width: 600px;
}

.Tappable-active div {
  padding: 8px 0;
  min-width: 600px;
}

.selected {
  text-decoration: line-through;
}

.close-nav {
  position: absolute;
  top: 1%;
  right: 2%;
  z-index: 6;
  margin-top: 10px;
  color: #bdbdbd;
}

.close-nav:hover {
  cursor: pointer;
}

.open-nav {
  position: fixed;
  top: 1%;
  right: 4%;
  z-index: 5;
  margin-top: 10px;
}

.open-nav:hover {
  cursor: pointer;
}

.visible {
  opacity: 1;
  -moz-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.invisible {
  opacity: 0;
  -moz-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.nav-contents-container {
  opacity: 1;
  height:100vh;
  -moz-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.contents-closed {
  opacity: 0;
  -moz-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}



section {
  height: 100vh;
}

.text-link {
  color: #f74481;
  text-decoration: none;
}

.text-link:hover {
  color: grey;
  text-decoration: none;
}

p, .btn a {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
}

h3, h4 {
  font-family: 'Bree Serif', serif;
}

.btn:hover {
  background-color: white !important;
}

.btn {
  background-color: #f74481 !important;
  transition: .5s ease;
}

.other {
  background-color: #302729 !important;
  transition: .5s ease;
}

.btn a {
  color: white !important;
  transition: .5s ease;
}

.btn:hover a {
  color: #f74481 !important;
  text-decoration: none;
}

.btn a:hover {
  text-decoration: none;
  cursor: pointer;
  color: #f74481 !important;
  transition: .5s ease;
}


.page-wrapper {
  padding: 0 !important;
  overflow-x: hidden;
}

/*.Fullpage {
  overflow: hidden;
}*/

.topnav-items {
  padding: 20px;
}

.topNav {
  padding-top: 20px !important;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  color: white;
}

#njd_logo {
  position: absolute;
  top: 0;
  left: 0;
}

.fa-list {
  padding-top: 15px !important;
}

.fa-list:hover {
  color: white !important;
}

/* About Me Section */

.about-me {
  padding-top: 40px;
  padding-left: 55px !important;
}

.main-icons {
  padding-top: 85px;
}


.icon-link-text {
  font-size: 14px;
}

.fa-long-arrow-right {
  font-size: 25px !important;
  color: #f74481 !important;
}

.main-icon {
  margin: 30px;
  color: #ffaeae;
}

.main-icon:hover {
  color: white !important;
  margin-right: 5px;
}

.main-icon img:hover {
  margin-left: 5px;
}


.about-me h1 {
  font-size: 55px;
  font-family: 'Bree Serif', serif;
}

.about-me h3 {
  font-family: 'Bree Serif', serif;
}

.about-me img {
  max-width: 200px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.about-me-text {
  margin: auto;
  display: block;
  float: none !important;
  font-size: 18px;
  margin-left: 15px;
  font-family: 'Bree Serif', serif;
}

.graphic-designer {
  padding-top: 10px;
}


.skills {
  width: 100px;
  position: absolute;
}

.fa-external-link-square {
  padding-right: 10px;
  padding-bottom: 10px;
}

#ruby {
  top: 40px;
  left: 10px;
  /*-webkit-animation-duration: 1s;
  -webkit-animation-delay: .5s;
  -moz-animation-duration: 1s;
  -moz-animation-delay: .5s;
  -ms-animation-duration: 1s;
  -ms-animation-delay: .5s;*/
  animation-duration: 1.5s;
  animation-delay: .5s;
}


#html {
  top: 350px;
  left: 175px;
  animation-duration: 1.5s;
  animation-delay: .6s;
}

#css {
  top: 160px;
  left: 300px;
  animation-duration: 1.8s;
  animation-delay: 1s;
}

#javascript {
  top: 60px;
  right: 200px;
  animation-duration: 1.5s;
  animation-delay: .9s;
}

#photoshop {
  bottom: 30px;
  left: 10px;
  animation-duration: 1.0s;
  animation-delay: 1.1s;
}

#illustrator {
  top: 260px;
  right: 160px;
  animation-duration: 1.5s;
  animation-delay: 1.3s;
}

#aftereffects {
  top: 30px;
  right: 20px;
  animation-duration: 2s;
  animation-delay: 1.2s;
}

#premiere {
  bottom: 0px;
  left: 270px;
  animation-duration: 1.0s;
  animation-delay: 1.0s;
}

#indesign {
  bottom: 5px;
  right: 30px;
  animation-duration: 1.5s;
  animation-delay: 1.4s;
}

#react {
  bottom: 70px;
  right: 200px;
  animation-duration: 1.5s;
  animation-delay: .8s;
}

#postgres {
  top: 200px;
  left: 110px;
  animation-duration: 1.5s;
  animation-delay: .7s;
}

/* Web Section */

.laptops {
  max-width: 750px;
  margin-left: 50px;
}

li {
  list-style-type: none;
  margin: 20px;
  text-align: center;
}

.website {
  padding-top: 120px;
  /*color: #bbbbbb;*/
}

.website-list-item {
  margin: 30px;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.website-list-item:hover {
  cursor:pointer;
  color: white;
}

.website-list {
  margin: 50px 0;
  text-align: center;
}



.description {
  font-size: 14px;
  margin: 10px;
  margin-top: 25px;
  padding-left: 25px !important;
}


.description h1 {
  font-family: 'Bree Serif', serif;
}

.text-white {
  color: white;
}

/* Video */

.video {
  padding-top: 100px;
  /*text-align: center;*/
}

.video-list-item {
  /*text-align: center;*/
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}

.video-list-item:hover {
  color: white;
  cursor: pointer;
}

.television {
  background-image: url("https://dl.dropboxusercontent.com/u/80500150/tv-850191_960_720.png");
  background-size: contain;
  background-repeat: no-repeat;
  height:480px;
  margin-left: 60px;
}

.video .btn {
  display: block;
  margin-left: 50px !important;
}

.video ul {
  margin-left: 40px;
}

.video-text {
  width: 80%;
  display: block;
  margin: auto !important;
  text-align: center;
}

.select-a-video {
  text-align: center;
  color: white;
  padding-top: 100px;
  font-family: 'Karla', sans-serif;
}

/*Design */

.coming-soon {
  margin-top: 300px;
  margin-left:auto;
  margin-right: auto;
  text-align: center;
}

/* Contact */

.contact-details {
  text-align: center;
  margin: auto;
  margin-top: 300px;
  color: white;
  font-family: 'Inconsolata', monospace;
}

.contact-details p {
  font-size: 20px !important;
  font-family: 'Inconsolata', monospace;
}

/* financial advice */

.movie-box {
  height: 0px;
  width: 70%;
  position: relative;
  padding-bottom: 405px;
  text-align: center;
}

.movie-box img {
  margin-top: 30px;
}

.movie-box iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*PackApp*/

.ytp-autohide {
  background-color: #ffb098 !important;
}

/*All*/


.fa-tag {
  padding-right: 10px !important;
  font-size: 20px !important;
  color: #ff2fcb !important;
}

.stack-box {
  display: none;
}


.stack-half {
  display: inline-block;
  margin-right: 25px;
  margin-top: 25px;
}

.stack-half-road {
  display: inline-block;
  margin-right: 25px;
}

.language-container {
  width: 90%;
  padding: 20px;
}

.language-style {
  background: #f74481;
  padding: 5px;
  display: inline-block;
  border-radius: 6px;
  margin: 5px;
  transition: .5s ease;
}

.language-empty {
  padding:5px;
  display: inline-block;
  color: rgba(255, 174, 174, 0.5);
  border-radius: 6px;
  margin: 5px;
  transition: 1s ease;
}

/* Ripe Find */

#ripe-image {
  width: 100%;
  height: auto !important;
}


.description-ripe {
  font-size: 14px;
  margin: 10px;
  background: rgb(255, 231, 249);
  margin-left: 0;
  margin-top: 20px;
  padding-left: 25px !important;
}

.description-ripe h1, .description-ripe h4 {
  font-family: 'Bree Serif', serif;
}

.fa-cogs {
  padding-right: 10px;
}
/* road closure */

#road-image {
  width: 100%;
  height: auto !important;
}

.description-road {
  font-size: 14px;
  margin: 10px;
  background: rgb(255, 231, 231);
  margin-left: 0;
  margin-bottom: 70px;
  padding-left: 25px !important;
}

.description-road h1 {
  font-family: 'Bree Serif', serif;
}

@media (min-width: 1440px) {
  p {
    font-size: 27px !important;
  }
  h1 {
    font-size: 64px !important;
  }
  h4 {
    font-size: 32px !important;
  }
  .sideNav {
    font-size: 32px;
  }
  .language-style, .language-empty {
    font-size: 26px;
  }
  .sideNavOpen {
    width: 35%;
  }
  .btn a {
    font-size: 28px;
  }
}


@media (max-width: 992px) {
  .about-me img {
    max-width: 160px;
  }
  .movie-box img {
    width: 96%;
    margin-top: 10px;
  }
  .movie-box {
    padding-bottom: 360px;
  }
  .description {
    margin-top: 0;
  }
}

@media (max-width: 888px) {
  .Tappable-inactive {
    font-size: 17px;
  }
}

@media (max-width: 767px) {
  .main-icon {
     display: inline-block;
     margin: 0;
     float: right;
  }
  .fa-long-arrow-right {
    display: none !important;
  }
  .icon-link-text {
    display: none;
  }
  .main-icons {
     padding-top: 20px;
     text-align: center;
  }
  .about-me {
    padding-left: 0px !important;
  }
  .about-me img {
    position: absolute;
  }
  .movie-box {
    margin: auto;
    padding-top: 40px;
  }
  .open-nav, .close-nav {
    display: none;
  }
}

@media (max-width: 680px) {
  .about-me img {
    max-width: 150px;
 }
 .movie-box {
   padding-bottom: 280px;
 }
}

@media (max-width: 620px) {
  .about-me img {
    max-width: 120px;
  }
}

@media(max-width:575px) {
  .about-me img {
    top: 0;
    right: 0;
    margin-top: 25px;
  }
  .main-icon {
    float: none;
  }
}


@media (max-width: 585px) {
  iframe {
    height: 250px;
  }
  .movie-box {
    height: 250px;
    width: 85%
  }
}

@media (max-width: 485px) {
  .description h1 {
    font-size: 30px;
  }
  .description p {
    font-size: 13px;
  }
  .description-road p, .description-ripe p {
    font-size: 13px;
  }
  .description-road h1, .description-ripe h1 {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .about-me img {
    display: none;
  }
  .main-icon {
    width: 63px;
  }
  .main-icons {
    text-align: left;
  }
  .movie-box {
    padding-bottom: 100px;
  }
}


@media (max-width: 385px) {
  .about-me h1 {
    font-size: 46px;
  }
  p {
    font-size: 13px;
  }
}
